*target/
.metals/
.idea/
.bloop/
*.DS_Store
*.xml
!logback.xml
.vscode/
*venv/
*__pycache__/
/data/GameGeneration/resources/tournaments/004/*
/data/GameGeneration/resources/tournaments/005/*
/data/GameGeneration/resources/tournaments/006/*
/data/GameGeneration/resources/tournaments/007/*
/data/GameGeneration/resources/tournaments/009/*
/data/GameGeneration/resources/tournaments/010/*
/data/GameGeneration/resources/tournaments/011/*
/data/GameGeneration/resources/tournaments/012/*
/data/GameGeneration/resources/tournaments/013/*
/data/GameGeneration/resources/tournaments/014/*
/data/GameGeneration/resources/tournaments/016/*
/data/GameGeneration/resources/tournaments/018/*
/data/GameGeneration/resources/tournaments/019/*
/data/GameGeneration/resources/tournaments/020/*
/data/GameGeneration/resources/tournaments/021/*
/data/GameGeneration/resources/tournaments/023/*
/data/GameGeneration/resources/tournaments/025/*
/data/GameGeneration/resources/tournaments/026/*
/data/GameGeneration/resources/tournaments/027/*
/data/GameGeneration/resources/tournaments/028/*
/data/GameGeneration/resources/tournaments/030/*
/data/GameGeneration/resources/tournaments/032/*
/data/GameGeneration/resources/tournaments/033/*
/data/GameGeneration/resources/tournaments/034/*
/data/GameGeneration/resources/tournaments/041/*
/data/GameGeneration/resources/tournaments/047/*
/data/GameGeneration/resources/tournaments/054/*
/data/GameGeneration/resources/tournaments/058/*
/data/GameGeneration/resources/tournaments/060/*
/data/GameGeneration/resources/tournaments/100/*
/data/GameGeneration/resources/tournaments/457/*
/data/GameGeneration/resources/tournaments/464/*
/data/GameGeneration/resources/tournaments/470/*
/data/GameGeneration/resources/tournaments/471/*
/data/GameGeneration/resources/tournaments/472/*
/data/GameGeneration/resources/tournaments/473/*
/data/GameGeneration/resources/tournaments/474/*
/data/GameGeneration/resources/tournaments/475/*
/data/GameGeneration/resources/tournaments/476/*
/data/GameGeneration/resources/tournaments/478/*
/data/GameGeneration/resources/tournaments/480/*
/data/GameGeneration/resources/tournaments/483/*
/data/GameGeneration/resources/tournaments/489/*
/data/GameGeneration/resources/tournaments/490/*
/data/GameGeneration/resources/tournaments/493/*
/data/GameGeneration/resources/tournaments/494/*
/data/GameGeneration/resources/tournaments/500/*
/data/GameGeneration/resources/tournaments/505/*
/data/GameGeneration/resources/tournaments/518/*
/data/GameGeneration/resources/tournaments/519/*
/data/GameGeneration/development/.ipynb_checkpoints
